### Java template
# Compiled class file
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/target/
**/target/**
*.iml

# IDEA
**/.idea/*
**/*.iml
**/*.iws
**/*.ipr
**/out

# Eclipse
.metadata/
RemoteSystemsTempFiles/
/Servers/
.recommenders
.classpath
.project
.settings/
.metadata
bin/
build/
output*
**/*.txt

# VSCode
.code

# Log files
transaction-logs
logs
**/*.log

# OSX files
**/.DS_Store
**/*.pid.lock

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/